@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1d1d1f;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;

}

.search {
    background-color: transparent;
    border: 2px solid 1d1d1f;
    border-radius: 20px;
    color: #eee;
    font-family: inherit;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #eee;
}

.search:focus {
    outline: none;
    background-color: 1d1d1f;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 250px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #1d1d1f;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(45, 212, 45);
}

.movie-info span.orange {
    color: rgb(231, 165, 41);
}

.movie-info span.red {
    color: rgb(233, 52, 52);
}

.overview {
    background-color: #eee;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h4 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}